{% extends "base.html" %}

{% block head %}
<link href="/static/css/app.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper text-center vertical-center">
    <h1 id="results" class="row">Loading <code>spegill</code>...</h1>
    <span class="text-muted" id="cameraNotice">Please allow access to your camera to continue</span>
    <div id="microphone"></div>
</div>

<div class="noDisplay" id="camera"></div>

<script src="//code.jquery.com/jquery.min.js"></script>
<script src="/static/js/webcam.js"></script>
<script src='https://code.responsivevoice.org/responsivevoice.js'></script>
<script src="/static/js/spegill.js"></script>
{% endblock %}
